//Colors
$color-white: hsl(0, 100%, 100%);
$color-purple-100: hsl(275, 100%, 97%);
$color-purple-600: hsl(292, 16%, 49%);
$color-purple-950: hsl(292, 42%, 14%);
$divide-line-color: rgb(218, 218, 218);

//Typography
$font-family-base: "Work Sans";

$font-weight-400: 400;
$font-weight-600: 600;
$font-weight-700: 700;

// Spacing
$space-sm: 0.5rem;
$space-md: 1rem;
$space-lg: 1.5rem;
